.first_block_cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.first_block_cards img{
    width: 150px;
    height: 150px;
}
.container{
    margin: 0 auto 0 auto;
    width: 80%;
    
}
.first_block{
    box-shadow: 0 5px 15px 0 rgb(46 61 73 / 14%);
}
.second_block{
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 0 5px 15px 0 rgb(46 61 73 / 14%);
    padding-bottom: 20px;

}
.second_block_cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    
}
.second_block_cards img{

    width: 360px;
    height: 180px;
    

}
.second_block_cards p{
    
    width: 200px;
    margin: auto;
    
}